<body>
  <!-- <header>
    <span>
      ESTE É O PORTAL DE EGRESSOS DA PÓS-GRADUAÇÃO EM ENGENHARIA ELÉTRICA NA UFU
    </span>
  </header> -->

  <div class="welcome-content">
    <div class="user-content">
      <label for="">Usuario:</label>
      <i class="fa fa-user-circle" aria-hidden="true"></i>
      <select class="drop">
        <option value="" selected>Login/Logoff</option>
        <option value="" >Cadastro</option>
      </select>
    </div>
    <div class="user-image">
      <img src="assets/banner.jpg  " alt="" />
    </div>
  </div>

  <div class="video-content">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ZPdk5GaIDjo?si=uPeZhxV8jb2EYq9F" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>

  <div class="links-content">
    <a href="/login">
      <img src="assets/icone_historico.jpg" alt="" />
      
    </a>
    <a>
      <img src="assets/icone_numeros.jpg" alt="" />
      
    </a>
    <a>
      <img src="assets/icone_emprego.jpg" alt="" />
      
    </a>
    <a>
      <img src="assets/icone_acompanhamento.jpg" alt="" />
      
    </a>
    <a>
      <img src="assets/icone_egressos.jpg" alt="" />
      
    </a>

  </div>

  <div class="descrition-content">
    <span>
      Este é o site de acompanhamento dos egressos da pós-graduação da UFU.
      Nele, traçamos uma série de informações para o publico em geral e também
      criamos uma estrutura de suporte para nossos egressos. Este é o site de
      acompanhamento dos egressos da pós-graduação da UFU. Nele, traçamos uma
    </span>
  </div>
</body>
